body {
    background-color: #1f1f1f;
    color: white;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #0077ff;
    align-items: center;
    padding: 10px 25px;
}

.nav h2 {
    display: inline-block;
    margin: 0;
}

.nav-liens {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.nav-liens li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-liens li {
    display: inline;
    margin: 0px 25px;
}

h2.test {
    color: red;
}

p:nth-child(2) {
    color: green;
}